@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('img/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Arial, sans-serif;
}
#content{
    text-align: center;
    font: 15px Arial, sans-serif;
    color: #4b34cc;
}
#content p{
    text-align: center;
    font: 20px Arial, sans-serif;
    color: #062849;
}
#container{
    padding-top: 400px;
}
#password-screen {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    
}
#password {
    width: 80%;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #9a425f;
    background-color: white;
    font-weight: bold;
    letter-spacing: 5px;
    color: #333; 
}

#keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

button {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(145deg, #ff80ab, #2d64bc);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-in-out;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#error-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
